<h1>Youngest director</h1>

<% Director.all do |a_director| %>

<p>The youngest director in our dataset right now is <a href="/directors/<%= youngest_director.id %>"><%= a_director.id %></a>, born on <%= a_director.dob %>.</p>


  <tr>
    <td><%= a_director.id %></td>
    <td>
      <img src="<%= a_director.image %>" width="100">
    </td>
    <td><%= a_director.name %></td>
    <td><%= a_director.dob %></td>
    <td>
    <a href="/directors/<%= a_director.id %>">Show details</td>
<% end %>
